[package]
name = "tokio_metrics_bridge"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
metric = { path = "../metric" }
parking_lot = "0.12.4"
tokio = { version = "1.47", features = ["macros", "net", "parking_lot", "rt-multi-thread", "sync", "time"] }


[dev-dependencies]
