[package]
name = "metric"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies] # In alphabetical order
parking_lot = "0.12"


[dev-dependencies] # In alphabetical order
