[package]
name = "tokio_watchdog"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
metric = { path = "../metric" }
tracing = { workspace = true }
tokio = { version = "1.48", features = ["macros", "net", "parking_lot", "rt-multi-thread", "sync", "time"] }
workspace-hack = { version = "0.1", path = "../workspace-hack" }

[dev-dependencies]
test_helpers = { path = "../test_helpers" }
