[package]
name = "test_helpers_end_to_end"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies] # In alphabetical order

# Workspace dependencies, in alphabetical order
arrow_util = { path = "../arrow_util" }
data_types = { path = "../data_types" }
dml = { path = "../dml" }
generated_types = { path = "../generated_types" }
influxdb_iox_client = { path = "../influxdb_iox_client", features = ["flight", "format"] }
ingester_query_grpc = { path = "../ingester_query_grpc" }
iox_catalog = { path = "../iox_catalog" }
iox_query_params = { path = "../iox_query_params" }
iox_time = { path = "../iox_time" }
mutable_batch_lp = { path = "../mutable_batch_lp" }
mutable_batch_pb = { path = "../mutable_batch_pb" }
observability_deps = { path = "../observability_deps" }
test_helpers = { path = "../test_helpers" }
workspace-hack = { version = "0.1", path = "../workspace-hack" }

# Crates.io dependencies, in alphabetical order
arrow = { workspace = true }
arrow-flight = { workspace = true }
assert_cmd = "2.0.14"
assert_matches = "1.5.0"
bytes = "1.6"
dotenvy = "0.15.7"
futures = "0.3"
futures-util = { version = "0.3" }
http = "0.2.12"
hyper = "0.14"
insta = { version = "1.39.0", features = ["yaml"] }
nix = { version = "0.29", default-features = false, features = ["signal"] }
once_cell = { version = "1.19", features = ["parking_lot"] }
parking_lot = "0.12"
predicates = "3.1.0"
prost = { workspace = true }
rand = "0.8.5"
regex = "1.10"
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls-native-roots"] }
serde_json = "1.0.117"
snafu = "0.8"
sqlx = { version = "0.7.4", features = [ "runtime-tokio-rustls" , "postgres", "uuid" ] }
tempfile = "3.10.1"
tokio = { version = "1.38", features = ["macros", "net", "parking_lot", "rt-multi-thread", "signal", "sync", "time"] }
tokio-util = "0.7"
tonic = { workspace = true }
