[package]
name = "parquet_file"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies] # In alphabetical order
arrow = { workspace = true }
arrow_util = { path = "../arrow_util" }
base64 = "0.22"
bytes = "1.11"
data_types = { path = "../data_types" }
datafusion = { workspace = true }
datafusion_util = { path = "../datafusion_util" }
futures = "0.3"
generated_types = { path = "../generated_types" }
iox_time = { path = "../iox_time" }
object_store = { workspace = true }
tracing = { workspace = true }
parquet = { workspace = true }
pbjson-types = { workspace = true }
prost = { workspace = true }
schema = { path = "../schema" }
snafu = "0.8"
thiserror = "2.0.18"
thrift = "0.17"
tokio = { version = "1.49", features = [
    "macros",
    "parking_lot",
    "rt",
    "rt-multi-thread",
    "sync",
] }
uuid = { version = "1", features = ["v4"] }
zstd = { version = "0.13", default-features = false }
workspace-hack = { version = "0.1", path = "../workspace-hack" }

[dev-dependencies] # In alphabetical order
rand = "0.9.2"
test_helpers = { version = "0.1.0", path = "../test_helpers" }
