[package]
name = "test_helpers"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies] # In alphabetical order
async-trait = "0.1.83"
dotenvy = "0.15.7"
observability_deps = { path = "../observability_deps" }
ordered-float = "4.5.0"
parking_lot = "0.12"
prometheus-parse = "0.2.5"
reqwest = { workspace = true, features = ["stream", "rustls-tls-native-roots"] }
tempfile = "3.14.0"
thiserror = "2.0.7"
tokio = { version = "1.42.0", default-features = false, features = ["time"] }
tracing-log = "0.2"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
workspace-hack = { version = "0.1", path = "../workspace-hack" }
