[package]
name = "test_helpers"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies] # In alphabetical order
async-trait = "0.1.89"
dotenvy = "0.15.7"
ordered-float = "5.1.0"
parking_lot = "0.12"
prometheus-parse = "0.2.5"
reqwest = { workspace = true, features = ["stream", "rustls-tls-native-roots"] }
serde =  { version = "1.0", features = ["derive"] }
tempfile = "3.23.0"
thiserror = "2.0.17"
tokio = { version = "1.48.0", default-features = false, features = ["time"] }
tracing = { workspace = true }
tracing-log = { workspace = true }
tracing-subscriber = { workspace = true }
workspace-hack = { version = "0.1", path = "../workspace-hack" }
