[package]
name = "test_helpers"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies] # In alphabetical order
dotenvy = "0.15.7"
parking_lot = "0.12"
tempfile = "3.10.1"
tracing-log = "0.2"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
observability_deps = { path = "../observability_deps" }
workspace-hack = { version = "0.1", path = "../workspace-hack" }
async-trait = "0.1.77"
tokio = { version = "1.36.0", default_features = false, features = ["time"] }
