[package]
name = "error_reporting"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies] # In alphabetical order


[dev-dependencies]
datafusion = { workspace = true }
snafu = "0.8"
