[package]
name = "tracker"
description = "Utilities for tracking resource utilisation within IOx"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
futures = "0.3"
hashbrown = { workspace = true }
iox_time = { path = "../iox_time" }
lock_api = "0.4.12"
metric = { path = "../metric" }
tracing = { workspace = true }
parking_lot = "0.12"
pin-project = "1.1"
# Delaying upgrade until <https://github.com/GuillaumeGomez/sysinfo/issues/1496> is fixed
sysinfo = "<0.38"
tokio = { version = "1.48", features = ["macros", "parking_lot", "sync", "time"] }
tokio-util = { version = "0.7.16" }
trace = { path = "../trace"}
workspace-hack = { version = "0.1", path = "../workspace-hack" }

[dev-dependencies]
tempfile = "3.23.0"
# Need the multi-threaded executor for testing
tokio = { version = "1.48", features = ["macros", "parking_lot", "rt-multi-thread", "time"] }
test_helpers = { path = "../test_helpers" }
