[package]
name = "futures_test_utils"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
futures = { version = "0.3.31" }
futures-concurrency = "7"
tokio = { version = "1", features = ["macros", "rt", "sync"] }


[dev-dependencies]
clap = { version = "4", features = ["derive"] }
rand = "0.9.2"

[lints]
workspace = true

[[bench]]
name = "buffered_stream"
harness = false
